nav{
    background-color: rgb(135, 82, 139);
    ul{
        display: flex;
        justify-content: flex-end; //靠右排列
        margin-right: 3rem;
        li{
            padding: 0.5rem 1rem;
            a{
                font-size: 1.5rem;
                color:white;
            }
        }
    }
}