.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3rem 0;
    input, button{
        font-size: 1.5rem;
        padding:0.25rem;
        border:3px solid rgb(43, 0, 43)
    }
    button{
        background-color: rgb(73,1,73);
        color:white;
    }
}